@import "tailwindcss";

@theme {
  /* Colors */
  --color-bg_dark: #323232;
  --color-bg_footer_section1:#E4B327;
  --color-bg_light: #13AAF1;
  --color-bg_input: #262626;
  --color-faded_gray:#9B9B9B;

}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.outerPadding {
  @apply p-1 md:p-2 lg:p-3;
}

.cominnerPadding {
  @apply px-4 md:px-6 py-2 lg:py-3;
}

.comtext {
  @apply text-sm md:text-base lg:text-lg;
}
